/* * {
    border-style : dotted;
    border-color : white;
} */
.biere {
    border-style : dotted;
    border-color : red;
    display : inline-flex;
    border-radius : 25px;
    border-style : solid;
    border-width: 0.25ch;
    margin : 5px;
    min-width : 20em;
    width : 25em;
    z-index : 1;
    transition  : 0.5s 0.5s;
}


img {
    height : 25em;
    max-width : 10em;
    /* border-style : dotted; */
    margin : 0 auto;
}

.overlay {
    position : absolute;
    top : 10%;
    left : 10%;
    max-height : 80%;
    width: 10%;
    z-index : 100;
    background-color : rgba(0,0,0, 0.7);
    transition : 0.2s 0.5s;

    height : 100%;
    width : 100%;
    color : white;
}

.nom_biere{
    /* border-style : dashed; */
    /* border-color : black; */
    text-align : center;
    margin-left :auto;
    margin-right : auto;
}
.general {
    /* display :inline-flex; */
    /* justify-content : center; */
    /* width : inherit; */
    /* border-color : blue; */
    flex-direction : column;
    margin-bottom : 1em;
    display : inline-block;
}



.precis {
    display : block;
}

.radio_prec {
    display : flex;
    justify-content : flex-end;
}

.radio_prec input, .radio_gen input {
    display : block;
}

 .annexe {
    display : inline-flex;
    justify-content : space-around;
    /* width : inherit; */
    align-items : flex-start;
    border-color : yellow;
    border-style : solid;
}

h2 {
    font-size : 1.5em;
    margin : 0;
}

.row {
    height : auto;
    display : inline-block;
    width : 95%;
    left : 2.5%;
    position : relative;
    margin-bottom : 3.5em;
}

.btn {
    width : 20em;
    height : 5em;
    display : block;
    /* border-style : solid;
    border-color :blue; */
}

/* -------------- radio -------------------------- */
.container {
    display: block;
    position: relative;
    padding-left: 22px;
    margin-left : 1em;
    margin-bottom : 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


.container input {
    position : absolute;
    opacity : 0;
}

.checkmark {
    position : absolute;
    top : 0;
    left : 0;
    height : 20px;
    width : 20px;
    background-color : #eee;
    border-radius : 50%;
    transition : 0.3s;
}


.container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  

.container input:checked ~ .checkmark {
    background-color: #2196F3;
  }


.checkmark:after {
    content: "";
    position : absolute;
    display : none;
  }
  

  .container input:checked ~ .checkmark:after {
    display: block;
  }


.container .checkmark:after {
    bottom: 9px;
    right: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }