html{
    width: 100%;
}
h1{
    padding-top: 20px;
    text-align: center;
}

.row{
    padding-bottom: 20px;
    margin-left: 0;
    margin-right: 0;

}

footer { 
    background-color: #2f2f2f;
    color: #fff;
}

.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 20px;
    border: 10;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 30px;
    letter-spacing: 2px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

  .container-fluid {
      padding-top: 40px;
      padding-bottom: 40px;
  }
img{
    height: 200px;
    width: auto;
}
.col-sm-3{
    
    width: 100%;
    flex: 100%;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;

}
.biere{

    width:32%;
    margin:5px;
    border:0;
    float: left;

}
b{
    font-size: 15px;
}
.col-sm-8{
    width: 100%;
    max-width: 100%;
}
