/* html{
    width: 100%;
} */

/* * {
    border-style : dotted;
} */


.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.col-sm-3{
    
    width: 100%;
    flex: 100%;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;

}
.biere{
    width:32%;
    margin:5px;
    border:0;
    float: left;
}

.col-sm-8{
    width: 100%;
    max-width: 100%;
}

